
body{
	background: #7579E7;
}

.buttons_8831 > ul {
	
	display: inline-block;
	text-align: center;
}

.buttons_8831 > ul > img{
	margin-top: 0rem !important; /* empecher l'ecart entre les lignes de boutons */
	margin-bottom: 0rem; 
	 
}


.buttons_8831 > ul > a{
	border-bottom: none !important; /* retire la barre decoratrice sur les liens */
}


.buttons_8831{
	
	text-align: center;
	margin-top: 1rem !important;

}




/* padding du header, la partie à gauche du site */
.intro-and-nav > div{
	padding : 0.5rem !important;
}

.socials > img {
	padding: auto;
}

.socials{
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem !important;
}

.socials > a{
	border-bottom: none !important;
	border-radius: 100%;
	object-fit: cover;
}
